
body {
        background-color: #D2B48C;
}
table {
  width: 100%;
  
}

input[readonly] {background-color:gray;}

th {
    height: 50px;
    color: #F08080; 
    background-color: #FFFF99;
}



.entireSalaryForm {
    width: 30%;
    background-color: whitesmoke;
    color: black;
    padding-bottom: 40px;
    padding-top: auto;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 20px;
    border-color: black;
}

h1 {
    font-size: 20pt;
    font-family: serif;
    text-align: left;
    color: white;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: #F08080;
}

input {
    padding-left:auto;
}

tr:hover {
   background-color: #CCCCCC;

}
tr:nth-child(even) {
    background-color: #F2F2F2;
    color: black;
}

tr {
    outline: thin solid black;
    background-color: #F08080;
    color: #FFFFFF;
}